.navbar{
    position: fixed;
    display:flex ;
    bottom: 0px;
    width: 100%;
    align-items: end;
}
.nav{
    padding: 7px;
    background-color: rgb(23, 23, 23);
    border-radius: 5%;
    width: 100%;
}
.nav ul {
    width: 100%;
    display: inline-flex ;
    background-color: rgb(23, 23, 23);
    justify-content: space-evenly;
}
.nav ul li{
    list-style: none;
    background-color: rgb(23, 23, 23);
    padding: 5px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    color: rgb(70, 70, 70);
    background-color: rgb(23, 23, 23);
}
.nav ul li a:hover{
    color: rgb(120, 120, 120);
}

