.navbar1{
    position: fixed;
    display:flex ;
    bottom: 0px;
    width: 100%;
    align-items: end;
    z-index: 1000;
}
.nav1{
    padding: 7px;
    background-color: rgb(23, 23, 23);
    border-radius: 5%;
    width: 100%;
}
.nav1 ul {
    width: 100%;
    display: inline-flex ;
    background-color: rgb(23, 23, 23);
    justify-content: space-evenly;
}
.nav1 ul li{
    list-style: none;
    background-color: rgb(23, 23, 23);
    padding: 5px;
}
.nav1 ul li a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    color: rgb(70, 70, 70);
    background-color: rgb(23, 23, 23);
    padding-bottom: 3px;
    border-bottom: 3px solid transparent;
}
.nav1 ul li a:hover{
    color: rgb(120, 120, 120);
}

.nav1 ul  li a.active{
    color: rgb(57, 120, 214);
    border-bottom: 3px solid rgb(57, 120, 214);
}