.footer{
    bottom: 0;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: end;
    background-color: rgb(230,230,230);
}
.footer h2{
    color: rgb(50, 50, 50);
    padding-right: 50px;
    font-weight: 300;
}
